{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Open Graph Tags -->
    <meta property="og:title" content="Pyra – Custom Software Solutions">
    <meta property="og:url" content="https://pyra.online">
    <meta property="og:image" content="https://pyra.online/static/main/images/pyra.jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{% static 'main/images/pyra.jpeg' %}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/jpeg" href="{% static 'main/images/pyra.jpeg' %}">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main/navbar.css' %}">
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    {% include "main/includes/navbar.html" %}
    {% comment %} <h1>Hello, world!</h1> {% endcomment %}
    {% block content %}{% endblock content %}
    <script src="{% static 'main/js/nav.js' %}" defer></script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Pyra",
        "url": "https://pyra.online",
        "logo": "{% static 'main/images/pyra.jpeg' %}"
      }
    </script>
    
  </body>
</html>